# Economic Drivers of Airbnb Pricing in Los Angeles: An Examination of Crime, Demographics, and Geography

## Libraries

In [1]:
# Uncomment the line below to install the required packages
# !pip -q install pandas numpy matplotlib scipy

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functions import *

## Data Loading and Cleaning

In [3]:
base_url = "http://data.insideairbnb.com/united-states/ca/los-angeles"
df = pd.read_csv(f"{base_url}/2023-12-03/visualisations/listings.csv")
df = merge_past_data(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61654 entries, 0 to 42448
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              61654 non-null  int64
 1   name                            61654 non-null  object
 2   host_id                         61654 non-null  int64
 3   host_name                       61634 non-null  object
 4   neighbourhood_group             61654 non-null  object
 5   neighbourhood                   61654 non-null  object
 6   latitude                        61654 non-null  float64
 7   longitude                       61654 non-null  float64
 8   room_type                       61654 non-null  object
 9   price                           61654 non-null  int64
 10  minimum_nights                  61654 non-null  int64
 11  number_of_reviews               61654 non-null  int64
 12  last_review                     42595 non-null  object
 13  reviews_per_month               42595 non-null  float64
 14  calculated_host_listings_count  61654 non-null  int64
 15  availability_365                61654 non-null  int64
 16  number_of_reviews_ltm           61654 non-null  int64
 17  license                         15457 non-null  object
 18  quarter                         61654 non-null  int64
dtypes: float64(3), int64(9), object(7)
memory usage: 9.4+ MB

In [4]:
# Removing price anomalies
display(len(df[df.price < 30]))
df = df[df.price >= 30]

702

In [5]:
# Dropping columns
df.drop(["id", "name", "host_id", "host_name", "last_review",
         "reviews_per_month", "number_of_reviews_ltm",
         "calculated_host_listings_count"], axis=1, inplace=True)